CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_FILENAME="partitions_4mb.csv"
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_4mb.csv"

# Default CI profile: generic headless
CONFIG_FLXOS_HEADLESS_MODE=y
# CONFIG_FLXOS_PROFILE_NONE is not set
CONFIG_FLXOS_PROFILE_GENERIC_ESP32=y
