CONFIG_LV_CACHE_DEF_SIZE=512000
CONFIG_LV_IMAGE_HEADER_CACHE_DEF_CNT=50
CONFIG_LV_USE_LOVYAN_GFX=y
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_USE_CLIB_SPRINTF=y
CONFIG_LV_DEF_REFR_PERIOD=10
CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_OS_IDLE_PERCENT_CUSTOM=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_LOG_PRINTF=y
CONFIG_LV_FS_DEFAULT_DRIVER_LETTER=65
CONFIG_LV_USE_FS_STDIO=y
CONFIG_LV_FS_STDIO_LETTER=65
CONFIG_LV_FS_STDIO_CACHE_SIZE=4096
CONFIG_LV_USE_LODEPNG=y
CONFIG_LV_USE_TJPGD=y
CONFIG_LV_USE_SNAPSHOT=y
CONFIG_LV_USE_SYSMON=y
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_PERF_MONITOR_ALIGN_TOP_LEFT=y
CONFIG_LV_LGFX_USER_INCLUDE="../../../../../../HAL/Include/flx/hal/lv_lgfx_user.hpp"
CONFIG_LV_BUILD_EXAMPLES=n
CONFIG_LV_BUILD_DEMOS=n
